
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  border: 1px solid green;
}

button {
    cursor: pointer;
  width: 90px;
  height: 40px;
  background-color: #9fd9b7;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;

button:hover {
  background-color: green ;
  font-family: 'Open Sans', sans-serif;
}